.user-card {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr calc(var(--middle-text-fs) * var(--line-height) + var(--space-vs) + var(--small-text-fs) * var(--line-height));
  grid-gap: var(--space-s);

  .user-card__info {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .user-card__info_name {
      font-size: var(--middle-text-fs);
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: var(--space-vs);
    }

    .user-card__info_works {
      font-size: var(--small-text-fs);
      margin-bottom: var(--space-s);
    }

    .user-card__info_actions {
      display: flex;
      gap: var(--space-vs);

      .user-card__info_actions__action {
        color: #000;
        max-width: 100%;
        font-size: var(--micro-text-fs);
        padding: var(--space-vs);
        cursor: pointer;

        &.circle {
          width: calc(var(--micro-text-fs) + 2 * var(--space-vs));
          height: calc(var(--micro-text-fs) + 2 * var(--space-vs));
        }

        &:hover {
          color: var(--button-primary-color);

          svg {
            stroke: var(--button-primary-color);
          }
        }
      }
    }
  }

  .user-card__image {
    width: calc(var(--middle-text-fs) * var(--line-height) + var(--space-vs) + var(--small-text-fs) * var(--line-height));
    height: calc(var(--middle-text-fs) * var(--line-height) + var(--space-vs) + var(--small-text-fs) * var(--line-height));
    background-color: var(--secondary-element-color);
    border-radius: var(--border-radius-m);
  }
}
