.links-editor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-m);

  .links-editor__header {
    grid-column: 1/4;
  }

  .links-editor__delete {
    stroke: var(--dark-pink-color);
    width: var(--icon-small);
    height: var(--icon-small);
    cursor: pointer;
  }

  .links-editor__add {
    --button-size: calc(var(--icon-medium) + 2 * var(--space-s));

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-m);
    width: var(--button-size);
    height: var(--button-size);

    .links-editor__add_icon {
      width: var(--icon-medium);
      height: var(--icon-medium);
    }
  }
}
