{
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-restricted-syntax": [
          "error",
          {
            "selector": "TSPropertySignature[readonly=undefined]",
            "message": "Missing readonly modifier for the DTO property."
          },
          {
            "selector": "TSPropertySignature TSTypeAnnotation[typeAnnotation.type=TSArrayType]",
            "message": "Missing readonly type modifier for array."
          }
        ]
      }
    }
  ]
}
