.image-block {
  width: 100%;
  position: relative;
  max-width: var(--work-container);
  padding: 0 var(--space-m);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--work-container) / 16 * 9);

  .image-block__file {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .image-block__delete {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      align-items: center;
      justify-content: center;
      opacity: 0;
      display: none;
      transition: opacity 0.3s;

      .image-block__delete_icon {
        stroke: #fff;
        width: var(--icon-medium);
        height: var(--icon-medium);
      }
    }

    &:hover .image-block__delete {
      opacity: 1;
      display: flex;
    }
  }
}
