.navbar-panel {
  display: flex;
  justify-content: space-between;
  align-self: center;
  border-radius: var(--border-radius);
  border: 2px solid var(--secondary-element-color);
  min-width: 500px;
  max-width: 500px;
  height: 50px;
}

.navbar-panel__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  margin: 0 var(--space-s);
}
