.user-settings {
  background-color: #fff;
  border-radius: var(--border-radius-s);

  .user-settings__info-settings {
    padding: var(--space-m);
    border-bottom: 1px solid var(--inactive-element-color);

    .user-settings__main-settings {
      display: grid;
      grid-template-columns: 200px 1fr 1fr;
      grid-gap: var(--space-m);
      margin-bottom: var(--space-m);

      .user-settings__avatar {
        grid-row: 1/3;
      }

      .user-settings__first-name {

      }

      .user-settings__last-name {

      }

      .user-settings__email {
        grid-column: 2/4;
        display: flex;
        align-items: center;
        gap: var(--space-s);

        .user-settings__email_label {
          color: var(--inactive-element-color);
        }

        .user-settings__email_value {

        }

        .user-settings__email_activate {
          color: var(--green-color);
        }

        .user-settings__email_change {

        }
      }
    }

    .user-settings__contact {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: var(--space-m);

      .user-settings__contact_header {
        font-size: var(--big-text-fs);
        grid-column: 1/4;
      }

      .user-settings__contact_city {

      }

      .user-settings__contact_phone {

      }

      .user-settings__contact_links__header {
        grid-column: 1/4;
      }

      .user-settings__contact_links__delete{
        stroke: var(--dark-pink-color);
        width: var(--icon-small);
        height: var(--icon-small);
        cursor: pointer;
      }

      .user-settings__contact_links__add {
        --button-size: calc(var(--icon-medium) + 2 * var(--space-s));

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-m);
        width: var(--button-size);
        height: var(--button-size);

        .user-settings__contact_links__add_icon {
          width: var(--icon-medium);
          height: var(--icon-medium);
        }
      }
    }
  }

  .user-settings__additional {
    padding: var(--space-m);

    .user-settings__main-skills_header {

    }

    .user-settings__secondary-skills_header {

    }
  }
}
