.user-settings {
  background-color: #fff;
  border-radius: var(--border-radius-s);

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-settings__info-settings {
    padding: var(--space-m);
    width: 100%;
    border-bottom: 1px solid var(--inactive-element-color);

    .user-settings__main-settings {
      display: grid;
      grid-template-columns: 200px 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: var(--space-m);
      margin-bottom: var(--space-m);

      .user-settings__first-name {

      }

      .user-settings__last-name {

      }

      .user-settings__email {
        grid-column: 2/4;
        display: flex;
        align-items: center;
        gap: var(--space-s);

        .user-settings__email_label {
          color: var(--inactive-element-color);
        }

        .user-settings__email_value {

        }

        .user-settings__email_activate {
          color: var(--green-color);
        }

        .user-settings__email_change {

        }
      }
    }

    .user-settings__contact {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: var(--space-m);

      .user-settings__contact_header {
        font-size: var(--big-text-fs);
        grid-column: 1/4;
      }

      .user-settings__contact_links {
        grid-column: 1/4;
      }

      .user-settings__contact_city {

      }

      .user-settings__contact_phone {

      }
    }
  }

  .user-settings__additional {
    padding: var(--space-m);
    width: 100%;
    display: flex;
    gap: var(--space-s);
    flex-direction: column;

    .user-settings__additional__main_skills{
      display: flex;
      flex-direction: column;
      margin-bottom: var(--space-s);

      .user-settings__additional__main_skills_error{
        color: var(--dark-pink-color);
        font-size: var(--small-text-fs);
      }
    }

    .user-settings__main-skills_header {

    }

    .user-settings__secondary-skills_header {
      .user-settings__secondary-skills_header_max {
        font-size: var(--small-text-fs);
        color: var(--inactive-element-color);
        margin: 0 var(--space-vs);
      }
    }
  }

  .user-settings__submit{
    margin: var(--space-m)
  }
}
