.avatar-upload {
  grid-row: 1/3;
  height: 200px;
  max-width: 200px;

  .avatar-upload__file {
    width: 100%;
    height:100%;
    position: relative;

    .avatar-upload__delete {
      position: absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      background-color: rgba(0,0,0,0.6);
      align-items: center;
      justify-content: center;
      opacity: 0;
      display: none;
      transition: opacity 0.3s;

      .avatar-upload__delete_icon {
        stroke: #fff;
        width: var(--icon-medium);
        height: var(--icon-medium);
      }
    }
    &:hover .avatar-upload__delete{
      opacity: 1;
      display: flex;
    }
  }

  .avatar-upload__desc {
    font-size: var(--micro-text-fs);
  }
}
