.ant-input-affix-wrapper, .ant-input {
  font-size: var(--middle-text-fs);
  border-radius: var(--border-radius-m);
  padding: var(--space-s) var(--space-m);
  background-color: var(--background-color);
  border-color: transparent;
}

.ant-input-affix-wrapper .ant-input-prefix {
  color: var(--inactive-element-color);
  margin-right: var(--space-s);
}

.ant-input-affix-wrapper.title, .ant-input.title {
  font-size: var(--small-title-fs);
  font-weight: var(--medium-fw);
}
