.ant-input-affix-wrapper, .ant-input {
  font-size: var(--big-text-fs);
  border-radius: var(--border-radius);
  padding: var(--space-s) var(--space-m);
  background-color: var(--background-color);
}


.ant-input-affix-wrapper .ant-input-prefix {
  color: var(--inactive-element-color);
  margin-right: var(--space-vs);
}
