.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-m);
  background-color: #fff;
  width: 100%;
  z-index: 10;
  height: var(--header-height);
  position: fixed;

  .header__logo {
    height: 50px;
    cursor: pointer;
  }

  .navbar {
    max-width: 700px;
    display: flex;
    align-self: center;
    gap: var(--space-s);
    position: relative;

    .navbar__group {
      display: flex;
      justify-content: space-between;
      align-self: center;
      border-radius: var(--border-radius-m);
      border: 1px solid var(--secondary-text-color);
      padding: var(--space-s);
    }

    .navbar__element {
      cursor: pointer;

      &:hover {
        box-shadow: var(--box-shadow);
      }
    }

    .navbar__link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--secondary-text-color);
      margin: 0 var(--space-s);
      font-size: var(--middle-text-fs);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .navbar__user{
      --avatar-size: calc(var(--icon-large) + 2 *var(--space-s));

      position: relative;
      padding:0;

      .header__user-img{
        width: var(--avatar-size);
        height:  var(--avatar-size);
        border-radius: var(--border-radius-m);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &.no_avatar{
          margin: var(--space-s);
          width: var(--icon-large);
          height:  var(--icon-large);
        }
      }

      .navbar__user_panel {
        opacity: 0;
        transition: opacity 0.3s;
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius-s);
        right: calc(-1 * var(--space-s));
        top: calc(-1 * var(--space-s));
        grid-template-columns: 1fr var(--avatar-size);
        grid-gap: var(--space-l);
        max-width: 500px;
        min-width: 300px;
        padding: var(--space-s);

        .navbar__user_info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: var(--space-s);

          .navbar__user_info__btn{
            padding: 0;

            &.navbar__user_info__btn_logout{
              margin-top: var(--space-m);
            }
          }

          .navbar__user_info__name{
            font-size: var(--middle-text-fs);
            white-space: nowrap;
          }
        }

        .navbar__user_info__img{
          margin:-1px;
          border: 1px solid var(--secondary-text-color);
          width: calc(var(--avatar-size) + 2px);
          height: calc(var(--avatar-size) + 2px);
        }
      }

      &:hover{
        .navbar__user_panel{
          display: grid;
          opacity: 1;
        }
      }
    }
  }
}
