:root {
  font-size: 14px;

  font-size: 25px;

  /* Font size */
  --big-title-fs: 2.8rem;
  --middle-title-fs: 2rem;
  --small-title-fs: 1.4rem;
  --big-text-fs: 1.2rem;
  --middle-text-fs: 1rem;
  --small-text-fs: 0.8rem;
  --micro-text-fs: 0.6rem;

  /* Other */
  --border-radius: 50px;

  /* Colors */
  --pear-green-color: #c9e82d;
  --yellow-color: #facd08;
  --orange-color: #fda72e;
  --pink-color: #fe5ec8;
  --turquoise-color: #45e7e7;
  --dark-pink-color: #e61e59;
  --violet-color: #9500fe;
  --blue-color: #10bdf9;
  --button-primary-color: #1677ff;
  --button-secondary-color: #6978fa;
  --button-hover-color: #4160ea;
  --background-color: #edeef0;
  --secondary-element-color: #c5c8cf;
  --inactive-element-color: #5a5a5a;
  --secondary-text-color: #1b2b4c;
  --line-height: 1.4;

  /* Paddings */
  --small-padding: 15px;
  --medium-padding: 30px;
  --big-padding: 60px;
}
