:root {
  --root-font-size: 25px;

  /* Font size */
  --big-title-fs: calc(var(--root-font-size) * 2.8);
  --middle-title-fs: calc(var(--root-font-size) * 2);
  --small-title-fs: calc(var(--root-font-size) * 1.4);
  --big-text-fs: calc(var(--root-font-size) * 1.2);
  --middle-text-fs: calc(var(--root-font-size) * 1);
  --small-text-fs: calc(var(--root-font-size) * 0.8);
  --micro-text-fs: calc(var(--root-font-size) * 0.6);

  /* Font weight */
  --light-fw: 300;
  --regular-fw: 400;
  --medium-fw: 500;

  /* Border Radius */
  --border-radius-m: 50px;
  --border-radius-s: 25px;

  /* Colors */
  --pear-green-color: #c9e82d;
  --yellow-color: #facd08;
  --orange-color: #fda72e;
  --pink-color: #fe5ec8;
  --turquoise-color: #45e7e7;
  --dark-pink-color: #e61e59;
  --violet-color: #9500fe;
  --blue-color: #10bdf9;
  --button-primary-color: #1677ff;
  --selected-background-color: #cbe1ff;
  --button-secondary-color: #6978fa;
  --button-hover-color: #4160ea;
  --background-color: #edeef0;
  --secondary-element-color: #c5c8cf;
  --inactive-element-color: #5a5a5a;
  --secondary-text-color: #1b2b4c;
  --line-height: 1.4;

  /* Paddings */
  --space-vs: 5px;
  --space-s: 15px;
  --space-m: 30px;
  --space-l: 60px;

  /* Special */
  --box-shadow: 0 0 11px rgba(65 96 234 / 30%);
  --header-height: calc(var(--space-s) * 4 + var(--middle-text-fs) * var(--line-height));

  /* Background color */
  --modal-wrapper-background: rgb(0 0 0 / 30%);

  /* Icons size */
  --icon-large: 35px;
  --icon-medium: 30px;
  --icon-small: 20px;
  --icon-very-small: 15px;
}
